@import "../../scss/mixins";

.privacy-policy {
  display: flex;
  justify-content: center;
  & > main {
    @include main-section;
    & > header {
      display: flex;
      align-items: center;
      justify-content: center;
      img {
        width: 30%;
        margin: 0 5%;
      }
      h1 {
        @include solid-heading("blue");
      }
    }
  }
  ol ol {
    list-style-type: lower-alpha;
  }
}

