PUBLIC_SANITY_STUDIO_PROJECT_ID="<YOUR-PROJECT-ID>"
PUBLIC_SANITY_STUDIO_DATASET="<YOUR-DATASET-NAME>"
PUBLIC_SANITY_STUDIO_NETLIFY_ID="<YOUR-NETLIFY-ID>"
PUBLIC_SANITY_STUDIO_NETLIFY_BUILD_HOOK_ID="<YOUR-NETLIFY-BUILD-HOOK-ID>"
PUBLIC_UMAMI_ID="<YOUR-UMAMI-ID>"