@import "../../../../scss/variables";
@import "../../../../scss/mixins";

.mobile-site-header {
    display: flex;
    flex-direction: column;
    padding: 1rem 1.5rem;
    @include button-border($hover: false);
    z-index: 600;
    background-color: white;
    a {
        font-size: 1.125rem;
        @include for-tablet-portrait-up {
            font-size: 1.5rem;
        }
    }
    color: $purple-dark-1;
    .title-bar {
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 2rem;
        & > a, & > a > img {
            height: 100%;
        }
    }
    .nav-expand-button {
        cursor: pointer;
        border: none;
        color: inherit;
        font-size: 1.5rem;
        @include for-tablet-portrait-up {
            font-size: 2rem;
        }
        line-height: 0;
        background: transparent;
    }
    .nav-wrapper {
        display: grid;
        grid-template-rows: 0fr;
        transition: grid-template-rows 200ms;
        &.expanded {
            grid-template-rows: 1fr;
        }
        nav {
            width: 100%;
            overflow: hidden;
            padding-left: 2rem;
            & > div {
                height: 0.75rem;
            }
            a {
                color: inherit;
                padding: 1.25rem 0;
                width: min-content;
                font-weight: 500;
                display: flex;
                align-items: center;
                gap: 0.5rem;
                &.active {
                    text-decoration: underline;
                    font-weight: 700;
                }
            }
        }
    }
}