@import "../../../../scss/variables";
@import "../../../../scss/mixins";

.mobile-site-header {
    display: flex;
    justify-content: center;
    flex-direction: column;
    a {
        font-size: 1.125rem;
        @include for-tablet-portrait-up {
            font-size: 1.5rem;
        }
    }
    color: $purple-dark-1;
    .header-container {
        display: flex;
        flex-direction: column;
        margin: 1rem auto;
        width: calc(100% - 2rem);
        @include for-tablet-portrait-up {
            margin: 1.5rem auto;
            width: calc(100% - 3rem);
        }
        padding: 1rem 1.5rem;
        @include button-border($hover: false);
        z-index: 600;
        background-color: white;
        .title-bar {
            display: flex;
            align-items: center;
            justify-content: space-between;
            height: 2rem;
            & > a {
                display: flex;
                align-items: center;
            }
            & > div a {
                margin: 0 0.9rem;
            }
            img {
                height: 2rem;
                margin-right: 0.3rem;
            }
        }
        .nav-expand-button {
            cursor: pointer;
            border: none;
            color: inherit;
            font-size: 1.5rem;
            @include for-tablet-portrait-up {
                font-size: 2rem;
            }
            line-height: 0;
            background: transparent;
        }
    }
    .nav-wrapper {
        display: grid;
        grid-template-rows: 0fr;
        transition: grid-template-rows 200ms;
        &.expanded {
            grid-template-rows: 1fr;
        }
        nav {
            width: 100%;
            overflow: hidden;
            padding-left: 2rem;
            & > div {
                height: 0.75rem;
            }
            a {
                padding: 1.25rem 0;
                width: min-content;
                font-weight: 500;
                display: flex;
                align-items: center;
                gap: 0.5rem;
                &.active {
                    text-decoration: underline;
                    font-weight: 700;
                }
            }
        }
    }
}