.lightbox {
    display: flex;
    position: fixed;
    z-index: 5000;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-color: rgba(0,0,0,0.6);
    & > div {
        max-height: 85vh;
        max-width: 85vw;
        & > * {
            width: 100vw;
            max-width: 100%;
            max-height: 85vh;
        }
        img {
            object-fit: contain !important;
        }
    }
}