@import "tailwindcss";

@theme {
  /* Grayscale */
  --color-true-black: #000;
  --color-black: #2c2c2c;
  --color-gray-100: var(--color-black);
  --color-gray-80: #24252d;
  --color-gray-60: #454d56;
  --color-gray-40: #a3a3a3;
  --color-gray-20: #d1d1d1;
  --color-gray-10: #e9e9e9;
  --color-gray-5: #f3f3f3;
  --color-white: #ffffff;

  /* Purple Scale */
  --color-indigo: #1f2044;
  --color-purple-dark-2: #2e0242;
  --color-purple-dark-1: #430063;
  --color-purple-100: #61008f;
  --color-purple-80: #8133a5;
  --color-purple-60: #a066bc;
  --color-purple-40: #c099d2;
  --color-purple-20: #dfcce9;
  --color-purple-10: #f0e6f4;
  --color-purple-5: #f7f2f9;

  /* Yellow Scale */
  --color-yellow-100: #f5dc00;
  --color-yellow-80: #f7e333;
  --color-yellow-60: #f9ea66;
  --color-yellow-40: #fbf199;
  --color-yellow-20: #fdf8cc;
  --color-yellow-10: #fefce6;
  --color-yellow-5: #fefdf2;

  /* Overrides */
  --text-3xl: 2rem;
  --container-2xl: 40rem;
  --container-3xl: 50rem;
}

@layer base {
  html {
    font-family: 'Noto Sans', sans-serif;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    @apply scroll-pt-[6rem] sm:scroll-pt-[7rem];
    font-size: clamp(12px, 4.5vw, 16px);
  }

  *, *::before, *::after {
    -webkit-box-sizing: inherit;
    -moz-box-sizing: inherit;
    box-sizing: inherit;
  }

  body {
    @apply font-medium bg-purple-5 text-black;
  }

  h1, h2, h3, h4, h5, h6 {
    @apply font-bold;
  }

  h1 {
    @apply text-xl sm:text-3xl;
  }

  h2 {
    @apply text-lg sm:text-2xl mb-4;
  }

  h2:not(:first-child) {
    @apply mt-8;
  }

  h3 {
    @apply text-lg sm:text-2xl;
  }

  h4 {
    @apply text-base sm:text-xl mb-2;
  }
  
  strong {
    @apply font-bold;
  }

  a {
    @apply text-inherit no-underline hover:underline;
  }

  blockquote {
    @apply leading-normal border-l-[0.3em] border-purple-100 bg-purple-5 my-6 py-2 px-5;
  }

  p {
    @apply max-w-3xl;
  }

  p:not(:last-child) {
    @apply mb-4;
  }

  ul {
    @apply list-disc pl-6 my-4;
  }
}

@utility font-bold-hover-no-shift {
  &::after {
    display: block;
    content: attr(data-text);
    font-weight: 700;
    height: 1px;
    color: transparent;
    overflow: hidden;
    visibility: hidden;
  }
  &:hover {
    font-weight: 700;
  }
}

@utility btn-3d-* {
  box-shadow: 0 4px 0 0 --value(--color-*);
  border: 1px solid --value(--color-*);
  transform: translateY(0);
  margin-bottom: 4px;

  &:active:not(:disabled) {
    transform: translateY(4px);
    box-shadow: 0 0 0 0 --value(--color-*);
  }
}

@utility card-3d-* {
  box-shadow: 0 4px 0 0 --value(--color-*);
  border: 1px solid --value(--color-*);
}


@layer components {
  .btn {
    @apply flex gap-2 px-8 py-3 justify-center items-center rounded-xl w-full sm:w-fit;
    @apply whitespace-nowrap font-extrabold leading-[1.5] no-underline cursor-pointer;
    @apply transition-all duration-100;
  }
  .btn-primary {
    @apply bg-purple-100 text-white btn-3d-purple-dark-1;
    @apply hover:bg-purple-dark-1 hover:btn-3d-purple-dark-2
  }
  .btn-secondary {
    @apply bg-white text-purple-80 btn-3d-purple-60;
    @apply hover:bg-purple-5 hover:text-purple-100 hover:btn-3d-purple-80;
  }
  .btn-border {
    @apply text-white border-2 border-white;
  }
  .btn-home-nav {
    @apply bg-white text-black btn-3d-purple-10 rounded-xl no-underline;
  }
  .btn-card {
    @apply bg-white text-black btn-3d-purple-10 sm:rounded-xl -mx-4 sm:mx-0 no-underline;
    @apply hover:btn-3d-purple-20;
  }
  .card {
    @apply bg-white text-black card-3d-purple-10 rounded-xl;
  }
  .content-container {
    @apply bg-white mb-12 sm:mb-16 py-8 px-4 sm:p-12 lg:p-16 sm:rounded-xl -mx-4 sm:mx-0;
  }
  .badge {
    @apply inline-flex h-8 px-3 py-1 justify-center items-center whitespace-nowrap text-sm font-medium rounded-full border-none transition-colors duration-100 no-underline;
  }
  .badge-normal {
    @apply bg-purple-10 text-indigo;
  }
  a.badge-normal {
    @apply hover:bg-purple-20;
  }
  .badge-selected {
    @apply bg-indigo text-white;
  }
  .badge-error {
    @apply bg-[#ffe6e6] text-[#ff2222];
  }
}

/* Custom utilities */

@utility h2-decorated {
  font-size: 1.5rem;
  line-height: 1.5;
  font-weight: 700;
  color: var(--color-black);
  height: 1rem;
  background-color: var(--color-purple-10);
  border-radius: 0.75rem;
  padding: 0;
  margin-left: 1.5rem;
  text-indent: -1.5rem;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  display: flex;
  align-items: flex-end;

  @media (min-width: 640px) { /* sm breakpoint */
    font-size: 2rem;
    margin-bottom: 2rem;
  }
}

