@import "../scss/mixins";

.e404 {
  @include for-desktop-up {
    padding-top: 5rem !important;
    padding-bottom: 5rem !important;
  }
  h1 {
    font-size: 8rem !important;
    @include for-tablet-portrait-up {
      font-size: 13rem !important;
    }
    // color: $black !important;
    text-align: center !important;
    margin: 1rem 0 !important;
    line-height: 1 !important;
  }
  h2 {
    color: $purple-100 !important;
    text-align: center !important;
    font-size: 1.75rem !important;
    @include for-tablet-portrait-up {
      font-size: 2.25rem !important;
    }
  }
}