@import "../../scss/breakpoints";
@import "../../scss/variables";
@import "../../scss/mixins";

.site-header {
  z-index: 100;
  position: sticky;
  top: 0;
  // @include box-shadow;
  // box-shadow: rgba(0, 0, 0, 0.15) 0 0 2rem;
  .standard-site-header {
    display: none;
  }
  @include for-tablet-landscape-up {
    .standard-site-header {
      display: block;
    }
    .mobile-site-header {
      display: none;
    }
    .mobile-bottom-buttons {
      display: none;
    }
  }
  // @each $name, $list in $rainbow {
  //   @each $color in $list {
  //     $index: index($list, $color);
  //     $white-font: true;
  //     @if $name == "yellow" and ($index == 1 or $index == 2 or $index == 3) {
  //       $white-font: false;
  //     }
  //     @include nav-border("" + $name + $index, $color, "bottom", $white-font);
  //     @include nav-border("" + $name + $index, $color, "right", $white-font);
  //   }
  // }
}