@import "../../scss/breakpoints";
@import "../../scss/variables";
@import "../../scss/mixins";

.site-header {
  z-index: 100;
  position: fixed;
  width: 100%;
  top: 0;
  transition: top 200ms;
  &.hidden {
    top: -7rem;
  }
  .standard-site-header {
    display: none;
  }
  @include for-tablet-landscape-up {
    .standard-site-header {
      display: block;
    }
    .mobile-site-header {
      display: none;
    }
  }
}