@use "sass:map";
@use "sass:list";
@import "../../scss/variables";
@import "../../scss/mixins";

.site-footer {
    display: flex;
    height: 100%;
    background-color: $purple-dark-2;
    color: $purple-5;
    justify-content: center;
    .footer-contents {
        height: fit-content;
        width: 100%;
        max-width: 59.75rem;
        padding: 1.5rem 0;
        display: flex;
        align-items: center;
        justify-content: space-between;
        .logo {
            width: 13rem;
        }
        .contact-container {
            display: flex;
            flex-direction: column;
            gap: 0.75rem;
        }
        a {
            color: white;
            &.contact-mail {
                display: flex;
                align-items: center;
                gap: 0.75rem;
            }
        }
    }
}