@import "../../scss/breakpoints";
@import "../../scss/variables";
@import "../../scss/mixins";

.page {
  margin: 0 auto;
  max-width: $page-max-width;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  @include for-tablet-portrait-up {
    padding-top: 2.88rem;
    padding-bottom: 2.88rem
  }
  @include side-padding;
  width: 100%;
  background-color: white;
  h1 {
    font-weight: 700;
    color: $gray-60;
    font-size: 1.25rem;
    margin-bottom: 1.5rem;
    @include for-tablet-portrait-up {
      font-size: 2.375rem;
      margin-bottom: 4rem;
    }
    line-height: 1.5;
  }
  h4 {
    margin-bottom: 1rem;
    margin-top: 1.5rem;
    font-size: 1.125rem;
    @include for-tablet-portrait-up {
      margin-top: 4rem;
      font-size: 1.5rem;
    }
    font-weight: 700;
    color: $purple-100;
    line-height: 1.5;
  }
  ul {
    padding-left: 1.5rem;
  }
  p, li, a {
    font-size: 1rem;
    @include for-tablet-portrait-up {
      font-size: 1.125rem;
    }
    line-height: 1.5;
  }
  strong {
    color: $purple-60;
    font-weight: 700;
  }
  .text-item {
    h4 {
      margin-top: 0;
    }
    *:last-child {
      margin-bottom: 0;
    }
    border-bottom: 2px solid $purple-10;
    &:first-child {
      padding-top: 0;
    }
    &:last-child {
      border: none;
    }
    padding: 1rem 0;
    @include for-tablet-portrait-up {
      padding: 2.5rem 0; 
    }
  }
  a {
    &.contact-mail {
      display: flex;
      align-items: center;
      gap: 0.75rem;
      color: $purple-100;
      margin-bottom: 2.5rem;
      font-weight: 500;
    }
  }
  form {
    margin: 1rem 0;
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
    @include for-tablet-landscape-up {
      max-width: 35.25rem;
    }
    width: 100%;
    label, input, textarea {
      display: flex;
      align-items: center;
      gap: 0.75rem;
      padding: 0.75rem;
      border-radius: 12px;
      border: 1px solid $gray-60;
      font-size: 1rem;
      line-height: 1.5;
      &:focus-within {
        outline: 1px solid $purple-100;
      }
    }
    label {
      color: $gray-80;
      &:focus-within {
        color: $purple-100;
      }
    }
    label input {
      padding: 0;
      margin: 0;
      border: none;
      border-radius: 0;
      width: 100%;
      &:focus {
        outline: none;
      }
    }
    textarea {
      height: 8rem;
    }
    button {
      @include for-tablet-portrait-up {
        align-self: flex-end;
      }
    }
  }
  .font-weight-500 {
    font-weight: 500;
  }
}