@import "../../scss/breakpoints";
@import "../../scss/variables";
@import "../../scss/mixins";

.page {
  margin: 0 auto;
  max-width: $page-max-width;
  margin-top: 6.5rem;
  padding-bottom: 1.5rem;
  @include for-tablet-portrait-up {
    margin-top: 7.5rem;
    padding-bottom: 2.88rem
  }
  width: 100%;
  @include side-padding;
  & > header {
    p {
      max-width: 45rem;
      font-weight: 700;
      color: $gray-60;
    }
    margin-bottom: 2rem;
  }
  h1 {
    font-weight: 700;
    color: $purple-dark-2;
    font-size: 1.25rem;
    margin-bottom: 1rem;
    @include for-tablet-portrait-up {
      font-size: 2rem;
    }
    line-height: 1.2;
  }
  h2 {
    margin-bottom: 1.5rem;
    font-size: 1.5rem;
    @include for-tablet-portrait-up {
      margin-bottom: 2rem;
      font-size: 2rem;
    }
    font-weight: 700;
    color: $black;
    line-height: 1.5;
    height: 1rem;
    background-color: $purple-10;
    border-radius: 0.75rem;
    padding: 0;
    margin-left: 1.5rem;
    text-indent: -1.5rem;
    margin-top: 1.5rem;
    display: flex;
    align-items: end;
  }
  h4 {
    margin-bottom: 1rem;
    font-size: 1.125rem;
    @include for-tablet-portrait-up {
      font-size: 1.5rem;
    }
    font-weight: 700;
    color: $black;
    line-height: 1.5;
  }
  ul {
    padding-left: 1.5rem;
  }
  blockquote {
    font-size: 1.125rem;
    @include for-tablet-portrait-up {
      font-size: 1.5rem;
    }
    p {
        font-size: 1em;
    }
    padding-left: 1rem;
    margin: 1.5rem 0;
    border-left: 0.3em solid $purple-100;
    line-height: 1.5;
  }
  p, li {
    margin-top: 0;
    font-size: 1rem;
    line-height: 1.5;
  }
  strong {
    color: $purple-60;
    font-weight: 700;
  }
  a {
    color: inherit;
    &.contact-mail {
      width: fit-content;
      display: flex;
      align-items: center;
      gap: 0.75rem;
      color: $purple-100;
      font-weight: 500;
    }
  }
  form {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
    @include for-tablet-landscape-up {
      max-width: 35.25rem;
    }
    width: 100%;
    label, input, textarea {
      background-color: white;
      display: flex;
      align-items: center;
      gap: 0.75rem;
      padding: 0.75rem;
      border-radius: 12px;
      border: 1px solid $gray-40;
      font-size: 1rem;
      line-height: 1.5;
      &:focus-within {
        outline: 1px solid $purple-100;
      }
    }
    label {
      color: $gray-80;
      &:focus-within {
        color: $purple-100;
      }
    }
    label input {
      padding: 0;
      margin: 0;
      border: none;
      border-radius: 0;
      width: 100%;
      &:focus {
        outline: none;
      }
    }
    textarea {
      height: 8rem;
    }
  }
  .font-weight-500 {
    font-weight: 500;
  }
  hr {
    border-top: 1px solid $purple-10;
  }
  .margin-top-bottom, hr {
    @include margin-top-bottom;
  }
  .container {
    background-color: white;
    padding: 2rem 1rem;
    margin: 0 (-$side-padding-small) 1rem (-$side-padding-small);
    @include for-tablet-portrait-up {
      margin: 0 0 2rem 0;
      border-radius: 0.75rem;
    }
    @include for-tablet-landscape-up {
      padding: 4rem 3.5rem;
    }
  }
}