@import "breakpoints";
@import "variables";
@import "mixins";

.button {
    display: flex;
    padding: 0.75rem 2rem;
    justify-content: center;
    align-items: center;
    white-space: nowrap;
    font-weight: 800;
    font-size: 1rem;
    color: white;
    background-color: $purple-100;
    border-radius: 12px;
    border: none;
    &.border {
        border: 2px solid white;
    }
    transition: 0.1s ease-in-out;
    cursor: pointer;
}

.clear-button {
    background: transparent;
    border: none;
}