@import "breakpoints";
@import "variables";

@mixin side-padding {
  padding-left: $side-padding-small;
  padding-right: $side-padding-small;
  @include for-tablet-landscape-up {
    padding-left: $side-padding-big;
    padding-right: $side-padding-big;
  }
}

@mixin margin-top-bottom {
  margin-top: 1rem;
  margin-bottom: 1rem;
  @include for-tablet-portrait-up {
    margin-top: 2.5rem;
    margin-bottom: 2.5rem;
  }
}

@mixin button-border($hover: true, $phone: false) {
  background-color: white;
  text-decoration: none;
  @if not $phone {
    border: 1px solid $purple-10;
    border-radius: 0.75rem;
  }
  box-shadow: 0 4px 0 0 $purple-10;
  transition: box-shadow 100ms, border-color 100ms, transform 100ms, color 100ms;
  @if $hover {
    &:hover {
      border-color: $purple-20;
      box-shadow: 0 4px 0 0 $purple-20;
    }
    &:active {
      transform: translateY(4px);
      box-shadow: 0 0 0 0 $purple-20;
    }
  }
}