@import "breakpoints";
@import "variables";

@mixin side-padding {
  padding-left: $side-padding-small;
  padding-right: $side-padding-small;
  @include for-tablet-landscape-up {
    padding-left: $side-padding-big;
    padding-right: $side-padding-big;
  }
}

@mixin margin-top-bottom {
  margin-top: 1rem;
  margin-bottom: 1rem;
  @include for-tablet-portrait-up {
    margin-top: 2.5rem;
    margin-bottom: 2.5rem;
  }
}